@model Entidades.Producto

@{
    ViewData["Title"] = "Eliminar_Producto";
}

<h1>Eliminar_Producto</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>

    <form asp-action="Eliminar_Producto">
        <input type="hidden" asp-for="IdProdructo" />
        <input type="submit" value="ELIMINAR" class="btn btn-danger" /> |
        <a asp-action="Registros_Productos" class="btn btn-secondary">CANCELAR</a>
    </form>
</div>
